.hideItem:hover {
    background: gray !important;
}

.marginItem {
    margin-top: 10px;
}

.itemHover {
    cursor: pointer;
    color: #3f51b5;
    padding: 5px;
}

.itemHover:hover {
    color: blue;
    background-color: rgba(180, 180, 180, 0.5);
}
